{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta character="UTF-8">
    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400" rel="stylesheet">

    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <style>

    </style>
</head>
<body>

    <div class="general-container">
        <div class="container top-container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                       <h1 class="title">Наш магазин скоро откроется!<br>
                       Оставляйте Ваш имейл в форме ниже</h1>
                       <div>
                           <form action="" method="post" class="form-inline text-center">{% csrf_token %}
                               <div class="form-group">
                                   <label>Ваш имейл: </label>
                                   <input name="{{ form.email.name }}" class="form-control">
                               </div>
                               <div class="form-group">
                                   <label>Ваше имя: </label>
                                   <input name="{{ form.name.name }}" class="form-control">
                               </div>
                               <button type="submit" class="btn btn-primary btn-orange">отправить</button>
                           </form>
                       </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

</body>
</html>